@model MUT_MODELS.GameResultModel

@{
    ViewData["Title"] = "PostGameResult";
    Layout = "~/Views/Shared/_CoachLayout.cshtml"; }

}



<h4>GameResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostGameResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeam" class="control-label"></label>
                <input asp-for="HomeTeam" class="form-control" />
                <span asp-validation-for="HomeTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeam" class="control-label"></label>
                <input asp-for="AwayTeam" class="form-control" />
                <span asp-validation-for="AwayTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsForAwayTeam" class="control-label"></label>
                <input asp-for="PointsForAwayTeam" class="form-control" />
                <span asp-validation-for="PointsForAwayTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointForHomeTeam" class="control-label"></label>
                <input asp-for="PointForHomeTeam" class="form-control" />
                <span asp-validation-for="PointForHomeTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHomeWin" class="control-label"></label>
                <input asp-for="IsHomeWin" class="form-control" />
                <span asp-validation-for="IsHomeWin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


