@model IEnumerable<MUT_MVC.Models.TeamMvcModel>

@{
    ViewData["Title"] = "Teams";
}


<div class="container">
    <h4>Team Achievements</h4>
    <table cellpadding="1" cellspacing="1" style="margin: 0 auto;" class="table  table-responsive{-sm}">
        <thead>
            <tr>
                <th>
                   #
                </th>

                <th>Team</th>
            </tr>
        </thead>
        <tbody>
             
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @Html.ActionLink(item.TeamName, "TeamAchievements", "Achievements", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
