@model MUT_MVC.Models.UpComingEventsMvcModel

@{
    ViewData["Title"] = "AddEvent";
    Layout = "~/Views/Shared/Coach_Layout.cshtml";
}


<div class="row">
    <div style="margin: 0 auto; border-radius:5%; padding: 50px; box-shadow: 1px 2px 3px 4px #511a1d;">

        <form asp-action="AddEvent">

            <h4>Add New Event</h4>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label asp-for="Descriptions" class="control-label"></label>
                    <input asp-for="Descriptions" class="form-control" />
                    <span asp-validation-for="Descriptions" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="Venue" class="control-label"></label>
                    <input asp-for="Venue" class="form-control" />
                    <span asp-validation-for="Venue" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="EventPicture" id="attachment" type="file" class="custom-file-input">
                    <label class="custom-file-label" for="customFile">Choose Event Icon</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label asp-for="EndingDate" class="control-label"></label>
                    <input type="date" asp-for="EndingDate" class="form-control" />
                    <span asp-validation-for="EndingDate" class="text-danger"></span>
                </div>
                
                <input type="hidden" asp-for="SportId" value="@Model.SportId"/>

                <div class="col-sm-6">
                    <label asp-for="StartingDate" class="control-label"></label>
                    <input type="date" asp-for="StartingDate" class="form-control" />
                    <span asp-validation-for="StartingDate" class="text-danger"></span>
                </div>
            </div>

            <script src="~/js/jquery-3.2.1.min.js"></script>
            <script>
                $("#attachment").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>


            <div class="form-group">
                <input style="float:right;" type="submit" value="Add Event" class="btn btn-primary" />
            </div>

        </form>
    </div>

</div>
    



