@model IEnumerable<MUT_MODELS.AchievementModel>

@{
    ViewData["Title"] = "GetAchievements";
    Layout = "~/Views/Shared/Student_Layout.cshtml";
}

<h1>GetAchievements</h1>

<p>
    <a asp-action="CreateAchievement">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AchievementDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAchieved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AchievementDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchieved)
            </td>
        </tr>
}
    </tbody>
</table>
