@model IEnumerable<MUT_MVC.Models.AchievementMvcModel>

@{
    ViewData["Title"] = "TeamAchievements";
}


<div class="container-fluid">
    <h4>Team Achievements</h4><br/>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem; height:15rem;">
                    <div class="container" style="text-align:center">
                        <img src="~/img/icons/team_achievement.png" width="60%" height="120px" alt="Card image cap">
                        <h5 style="text-align:center;"><strong>@item.AchievementDescription</strong></h5>
                        <b style="text-align:center;">@item.DateAchieved</b>
                    </div>
                </div>
            </div>
        }
    </div>

    </div>

